sudo: false
dist: trusty
language: erlang
otp_release:
  - 20.0.1
before_install:
  - if test osx = "${TRAVIS_OS_NAME:?}"; then export HOMEBREW_CACHE="$HOME/Library/Caches/Homebrew"; fi
  - if test osx = "${TRAVIS_OS_NAME:?}"; then brew update; fi
  - if test osx = "${TRAVIS_OS_NAME:?}"; then brew install erlang && export PATH="$(brew --prefix erlang)"/bin:"$PATH"; fi
  - erl -version
  - epmd -daemon
  - ./ci before_install "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
install:
  - ./ci install "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
script:
  - ./ci script "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
after_failure:
  - ./ci after_failure "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
deploy:
  provider: releases
  api_key:
    # See https://docs.travis-ci.com/user/deployment/releases/#Authenticating-with-an-OAuth-token
    secure: WESZx6KyFGe0D/JJ5xUwcFR2xQ8qr4rPogclCsDIL3w8SbKmzo8aiKWY/GIu0Ld50G1f1HPfpwTl4fWqSz2G4D9AVkHCpfy84vtwUWrtJ0HnOuPT0vTrxkNjy4tkKf5pJXTW5Mq0B2W0TrxXooEZwGax/3bdF9lGRvR9xtgWsyhVG5nBjxA8d9pNLIGV3zRZDMuCyR932f8WZxEWtbPD18fl/htzbOf85fJAo/eaiU/nuE/c/8F3D14xOjVevJebyyIv2Ykd6t9XePn6KEjifhQUNm9RIhHo/czAJWy+UPOFPUjxH7vT/rFkH9D2NuzLJXsVYjtien/Tpe3sh0IyOPjeKUUpu6dRwQS7RVRcbyy5nre1FrIZV4BCxs85b9YN0EkCcTkuw24l39g+9wwniM+1vzNAGZtHLRlUa0cGzFQL4TsYJrUOLrnuwWdV9L31FSY0bHDCsLqjs6AhHL5TemaDD+9WSQDhxQIgdocDoG8dn4J5OK5buNgvBj11PRtd4DGPzFtjjYqhengUS7iGyluIQ30VaBIUkQgYiuBKC/Yr7W6vSTfTuLeyyLYb0aBY9PO9pBE+sz8feHSIixLYoouRPcbc745c9ICRXfw9Ew/xVrLp84+WGtgIBagdKvwUz8uYVKjPjBUucIJZgZMHoUrAQW7rO2lbSMyr/kRfl/Q=
  file_glob: true
  file: _build/prod/rel/epoch/epoch-*-*.tar.gz
  skip_cleanup: true
  on:
    # See https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A
    repo: velzevur/epoch
    tags: true
    all_branches: true # Workaround for Travis - see https://github.com/travis-ci/travis-ci/issues/1675#issuecomment-37851765
    condition: "${JOB:?} = package"
matrix:
  include:
    - os: osx
      osx_image: xcode8.3 # [`xcode8.3` is Xcode 8.3.3 on OS X 10.12](https://docs.travis-ci.com/user/reference/osx#OS-X-Version)
      language: generic
      env: JOB=package
    - if: tag IS present # additional JOB to run the release acceptance test for releases only
      env: JOB=acceptance-test
    - if: tag IS present # additional JOB to run the release acceptance test for releases only
      env: JOB=acceptance-test
      os: osx
      osx_image: xcode8.3 # [`xcode8.3` is Xcode 8.3.3 on OS X 10.12](https://docs.travis-ci.com/user/reference/osx#OS-X-Version)
      language: generic
  allow_failures:
    - env: JOB=xref
  fast_finish: true
env:
  - JOB=test
  - JOB=dialyzer
  - JOB=xref
  - JOB=check_rels
  - JOB=package
cache:
  directories:
    - $HOME/.cache/rebar3
    - $HOME/Library/Caches/Homebrew
